
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div id="img1" class="col-6">
          <img src="./png-transparent-author-writer-book-writing-leaf-presentation-logo.png" alt="">
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div  class="container ">
    <div class="row  Sign">
        <div class="col-4"></div>
        <div  class="col-4 c1">
          <h1>Sign In</h1>
<br><br>
            <form [formGroup]="signinForm" (ngSubmit)="signin()">
                <div class="mb-3">
                  <input type="email" class="form-control" name="email" formControlName ="email" placeholder="Email or mobile Number" id="signinEmail1" aria-describedby="emailHelp">
                </div>
          <div *ngIf=" this.signinForm.get('email')?.touched &&this.signinForm.get('email')?.errors" style="color: red;" >Invalid mail id</div>

                <div class="mb-3">
                  <input type="password" class="form-control" name="pswd" formControlName="pswd"placeholder="password" id="signinPassword1">
                </div>
         <div *ngIf=" this.signinForm.get('pswd')?.touched &&this.signinForm.get('pswd')?.errors" style="color: red;" >Invalid password</div>

                <div class="mb-3 form-check">
                </div>
                <button style="margin-left: 150px;" value="signin" (click)="signin()" type="submit" class="btn btn-primary">Sign In</button>
              </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<br><br>
<button style="margin-left: 480px;" routerLink="register">Create Your Orgin Account</button>
<br>
<br><br>
<div class="container footer">
  <hr>
  <div class="row foot " >
    <div class="col-3"></div>

    <div class="col-2">
      <a href="">Terms & conditions</a>
    </div>
    <div class="col-2"><a href="">Privacy Policy</a></div>

    <div class="col-2"><a href="">Help</a></div>

    <div class="col-3"></div>
  </div>
<br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      © 1996 - 2021 AbeBooks Inc. All Rights Reserved. 
    </div>
    <div class="col-3"></div>
  </div>
</div>
