
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#navimg1{
	width: 90px;
	height: 90px;
}
#navimg2{
	width: 90px;
	height: 90px;
}

.imgh1{
    background-image: url(./couresel1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgh2{
    background-image: url(./coursel2.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1{
    width: 900px;
    height: 300px;
    cursor: pointer;
    box-shadow:  16px 16px 44px #0a0a0a, 
             -16px -16px 44px #282a28;
             
}
.card:hover{
    margin-top:-30px;
    transition: 0.3s all ease-in-out;
}

.footer{
    margin-top: 900px;
}
.card001{
    margin-top: 400px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');



.cart_icon{
	position: relative; 
	cursor: pointer;
	
}
.cart_icon:focus{
	outline: none;
	border: none;
}
.cart_icon i{
	font-size: 24px;
	color: rgb(48, 125, 218);
}
.cart_value{
position: absolute;
top: -20px;
right: -22px;
background: rgb(201, 102, 10);
border: 1px solid #ccc;
border-radius: 50%;
padding: 4px 10px;
font-weight: 800;
font-size: 16px;
}


body {
background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
	}

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
  
	
}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#container .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #4f596e;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder; }

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}


/* card002 */
.card002{
	padding: 60px 0;
	background: #eee;
	font-family: 'Roboto', sans-serif;
	width: 90%;
	margin: 0 auto;
}
.title{
	margin-bottom: 10px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}
.title::before{
	position: absolute;
	content: '';
	width: 200px;
	height: 3px;
	background: #dbdbdb;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
}
.title::after{
	content: '\f005';
	font-family: FontAwesome;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: #dbdbdb;
	font-size: 16px;
	width: 50px;
	height: 20px;
	background: #eee;

}
.title p{
	color: #999;
	font-style: italic;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 1rem;
	margin: 0 0 1rem 0;
}
.title h1{
	font-size: 44px;
	color: #131313;
	font-weight: 900;
	text-transform: uppercase;
}
.title h1 span{
	color: #fa0;
}
.card100{
	background: #fff;
border-radius: 3px;
transition: all .2s ease-in-out;
}
.card-main{
position: relative;
}
.discount{
	background: #fa0;
	z-index: 3;
	position: absolute;
	color: #fff;
	font-weight: 700;
	text-align: center;
	display: block;
	text-transform: uppercase;
	width: 70px;
	height: 30px;
	border-radius: 0 15px 15px 0;
	line-height: 30px;
	font-style: italic;
	left: -9px;
	top: 30px;

}
.discount::after{
	content: '';
	position: absolute;
	border-top: 6px solid #c80;
	border-left: 8px solid transparent;
	border-right: 0px solid transparent;
	left:0;
	bottom: -6px;
}
.label{
	position: absolute;
	bottom: 84px;
	left: 10px;
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 2;
	line-height: 100%;
	color: #fff;
	border-radius: 3px;
	padding: 5px 8px;

}
.label-green{
	background: #5cb85c;
}
.image000{
	width: 100%;
	height: 300px;

}
.image000 img{
	width: 100%;
	height: 100%;

}
.cart-line{
	height: 2px;
	background: #f1f1f1;
}
.cart-item{
	text-align: center;
	line-height: 45px;
	background: #111;
  transition: all 1s ease-in-out;
	/* opacity: 0; */
	position: relative;
	top: -40px;
}
.cart-item ul{
padding: 0;
margin: 0;
}
.cart-item ul li{
	display: inline-block;
	list-style-type: none;
	position: relative;
}
.cart-item ul li::before{
	content:'';
	width: 1px;
	height: 18px;
	background: rgba(255,255,255,.15);
	position: absolute;
	left: -2px;
	top: 10px;
}
.cart-item ul li:first-child:before{
display: none;
}
.cart-item ul li a{
	padding:0 18px;
	color: #ccc;
}
.cart-item ul li a:hover{
	color: #fa0;
}
.card100:hover.cart-item{
	top: 0;
	opacity: 1;
}
.product-container{
	position: absolute;
	right: -40px;
	top: 10px;
	z-index: 4;
	transition: 0.6s;
	opacity: 0;
}
.p{
	border: 2px;
	border: 1px solid rgb(233,233,233);
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.p img{
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
.p img:hover{
	opacity: 1;
}
.card100:hover .product-container{
	opacity: 1;
	right: 0;
	
}
.content{
	padding: 16px 0;
	text-align: center;
}
.content a{
	font-size: 16px;
	color: #555;
	font-weight: 700;
	text-transform: capitalize;
transition: all .3s;
}
.content a:hover{
	color: #fa0;
	text-decoration: none;
}
.rating i{
	color: #fa0;
	line-height: 22px;
	margin: 0 2px;
	font-size: 12px;
}
.content{
	background: #fff;
}
.content p{
margin-bottom: 0;
}
.content p .money{
	font-size: 20px;
	color: #fa0;
	font-weight: 700;
	font-style: italic;
	margin-right: 6px;
}
.content p .price-old{
	line-height: 18px;
	display: inline-block;
	color: #888;
	font-style: italic;
	font-weight: 400;
	text-decoration: line-through;
}



